@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";

@font-face {
  font-family: 'Open Sans';
  src: url('./OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat';
  src: url('./Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'Audiowide';
  src: url('./Audiowide-Regular.ttf');
}

@font-face {
  font-family: 'Poppins';
  src: url('./Poppins-Regular.ttf');
}

* {
  font-family: 'Open Sans';
}


body {
  padding: 0;
  margin: 0;
  background-color: #363636;
}

.font-montserrat {
  font-family: 'Montserrat' !important;
}
.font-open-sans {
  font-family: 'Open Sans' !important;
}
.font-audiowide {
  font-family: 'Audiowide' !important;
}
.font-poppins {
  font-family: 'Poppins' !important;
}

.highlight-gradient {
  @apply bg-inherit transition-all ease-in duration-300;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 0;
    right: 0;
    height: 3px;
    border-radius: 2px;
    background: transparent;
    opacity: 0;
    transition: all .5s ease-in-out;
    @apply bg-gradient-to-r from-indigo-400 via-purple-400 to-pink-400 text-white;
  }
  &:focus,
  &:active,
  &.active {
    &:after {
      bottom: 2px;
      opacity: 1;
    }
  }
}

.bg-primary-gradient {
  @apply bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 text-white;
}
.bg-primary-gradient-hover {
  &:hover {
    @apply bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 text-white transition-all ease-in-out duration-300;
  }
}

.bg-primary-dark {
  background: #363636;
}

.text-primary-gradient {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  @apply bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 text-white;
}

.text-primary-gradient-hover {
  &:hover {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @apply bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 text-white;
  }
}

.icon {
  .mask-icon {
    -webkit-mask-position: center;
		-webkit-mask-repeat: no-repeat;
		-webkit-mask-size: contain;
		-webkit-mask-image: none;
		mask-position: center;
		mask-repeat: no-repeat;
		mask-size: contain;
		mask-image: none;
  }
}

.btn-icon {
  &:hover {
    .mask-icon {
      @apply bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 text-white transition-all ease-in-out duration-300;
    }
  }
  .mask-icon {
    @apply bg-white;
  }
}

.filter-image {
  img {
    transition: filter .3s ease-in-out;
    filter: grayscale(90);
  }
  &:hover {  
    img {
      filter: grayscale(0);
    }
  }
}

.popover {
  position: relative;
  .popover-content {
    position: absolute;
    left: 50%;
    bottom: calc(100% + 20px);
    z-index: 20;
    opacity: 0;
    transform: scale(0) translateX(-50%);
    transition: opacity .3s ease-in-out;
    &::before {
      content: '';
      position: absolute;
      bottom: -10px;
      width: 0px;
      height: 0px;
      left: 50%;
      transform: translateX(-50%);
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid #363636;
    }
    &.bottom {
      top: calc(100% + 20px);
      bottom: unset;
      &::before {
        top: -10px;
        border-bottom: 10px solid;
        border-top: unset;
      }
    }
    &.bg-primary-dark {
      @apply bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 text-white shadow-lg shadow-gray-700;
      &::before {
        @apply border-purple-500;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
      }
    }
    &.bg-light {
      @apply bg-gray-100 shadow-lg shadow-gray-800;
      &::before {
        border-color: white;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
      }
    }
  }
  &:hover {
    .popover-content {
      transform: scale(1) translateX(-50%);
      opacity: 1;
    }
  }
}